@page "/tickets"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h1>Bienvenido al estadio Atanasio Girardot</h1>
<img src="https://inghospitalaria.com/wp-content/uploads/2013/07/Logo-INDER-Medellin-2015-png.png" width="50%" height="50%">

<form onsubmit={{this.validarTicket}}>
    <label>Ingresa el código del ticket:</label>
    <InputNumber class="form-control" @bind-Value="@Id" />
    <button type="button" class="btn-dark" @onclick="ValidateID">Validar ticket</button>
    <label>@ticket?.Id</label>
</form>

@code {
    public Ticket? ticket;
    public int Id;
    private async Task ValidateID()
    {
        var responseHTTP = await repository.Get<Ticket>($"api/ticket/{Id}");

    if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("tickets");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            ticket = responseHTTP.Response;
           
        }
    }
}
